# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=

# Update this with your Google Gemini API key
# https://ai.google.dev/gemini-api/docs/quickstart
GEMINI_API_KEY=

